.bill-card{
max-width:520px;
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,.1);
}

label{
font-weight:600;
display:block;
margin-top:10px;
}

select,input{
width:100%;
padding:10px;
border-radius:10px;
border:1px solid #ddd;
margin-top:6px;
}

.row{
display:grid;
grid-template-columns:2fr 1fr;
gap:10px;
margin-top:10px;
}

.btn-sec{
margin-top:15px;
background:#6c757d;
color:white;
border:none;
padding:10px;
border-radius:20px;
cursor:pointer;
}

.btn-main{
margin-top:15px;
width:100%;
background:#198754;
color:white;
border:none;
padding:12px;
border-radius:25px;
font-weight:600;
cursor:pointer;
}

.success{
background:#d1e7dd;
padding:10px;
border-radius:10px;
color:#0f5132;
margin-bottom:10px;
}

.back{
display:inline-block;
margin-top:15px;
text-decoration:none;
color:#198754;
font-weight:600;
}
